boto3
duckduckgo_search
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
jsonref
logzero
matplotlib
openai
pydantic
pydub
pypdfium2
simplesingletable
streamlit
streamlit-calendar
streamlit-paste-button
supersullytools
todoist-api-python
